<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=fake.database.windows.net;Initial Catalog=fake;User ID=fake;Password=fake;Encrypt=true;Trusted_Connection=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Test.Url.Base.Api" value="https://test-config.kissmy.com" />
    <add key="Test.Url.Postfix.Temp" value="temporary" />
    <add key="Test.Url.Downloads" value="${Test.Url.Base.Api}/downloads" />
    <add key="Test.Url.Downloads.Temp" value="${Test.Url.Base.Api}/downloads/${Test.Url.Postfix.Temp}" />
    <add key="Test.Url.Downloads.TempEmbed" value="${Test.Url.Downloads}/${Test.Url.Postfix.Temp}" />
    <add key="Test.Url.Downloads.TempTempEmbed" value="${Test.Url.Downloads.Temp}/${Test.Url.Postfix.Temp}" />
    <add key="Test.Url.NoValue" />
    <add key="Test.Url.EmptyValue" value="" />
    <add key="Test.Url.Reference.EmptyValue" value="${Test.Url.EmptyValue}/downloads" />
    <add key="Test.Url.Reference.DoesNotExist" value="${Does.Not.Exist}/downloads" />
    <add key="Test.Url.Reference.DoesNotExistAsDot" value="${.}/downloads" />
    <add key="Test.Url.Reference.InvalidCharacters" value="${Invalid@Character}/downloads" />
    <add key="Test.Url.Reference.NoCharacters" value="${}/downloads" />
  </appSettings>
</configuration>