<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=fake.database.windows.net;Initial Catalog=fake;User ID=fake;Password=fake;Encrypt=true;Trusted_Connection=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Test.Boolean.False" value="false" />
    <add key="Test.Boolean.Index.False" value="0" />
    <add key="Test.Boolean.True" value="true" />
    <add key="Test.EmptyValue" value="" />
    <add key="Test.Enum.IndexOutOfRange" value="9" />
    <add key="Test.Enum.Friday" value="5" />
    <add key="Test.Enum.Saturday" value="Saturday" />
    <add key="Test.Enum.Sunday" value="Sunday" />
    <add key="Test.Int.Overflow" value="9999999999" />
    <add key="Test.Int.Max" value="2147483647" />
    <add key="Test.Int.Min" value="-2147483648" />
    <add key="Test.Int.Zero" value="0" />
    <add key="Test.NullValue" />
    <add key="Test.Source" value="app.config" />
    <add key="Test.Url.Base.Api" value="https://test.kissmy.com" />
    <add key="Test.Url.Postfix.Temp" value="temporary" />
    <add key="Test.Url.Downloads" value="${Test.Url.Base.Api}/downloads" />
    <add key="Test.Url.Downloads.Temp" value="${Test.Url.Base.Api}/downloads/${Test.Url.Postfix.Temp}" />
    <add key="Test.Url.Downloads.TempEmbed" value="${Test.Url.Downloads}/${Test.Url.Postfix.Temp}" />
    <add key="Test.Url.Downloads.TempTempEmbed" value="${Test.Url.Downloads.Temp}/${Test.Url.Postfix.Temp}" />
    <add key="Test.Url.Reference.EmptyValue" value="${Test.EmptyValue}/downloads" />
    <add key="Test.Url.Reference.DoesNotExist" value="${Does.Not.Exist}/downloads" />
    <add key="Test.Url.Reference.DoesNotExistAsDot" value="${.}/downloads" />
    <add key="Test.Url.Reference.InvalidCharacters" value="${Invalid@Character}/downloads" />
    <add key="Test.Url.Reference.NoCharacters" value="${}/downloads" />
  </appSettings>
</configuration>